@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright&family=Fira+Sans:ital,wght@1,700&family=Great+Vibes&display=swap');
* {
    color: rgb(00, 00, 00);
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Cormorant Upright', serif;
    font-size: x-large;
}

.main-header {
    padding: 0px;
    margin: 0px;
}

.main-header h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
}

.nav ul{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.nav li{ 
    display: inline;
    border-left: 1px solid rgb(50, 50, 50);
    border-right: 1px solid rgb(50, 50, 50);
}

.nav a {
    text-decoration: none;
    padding: 0.5em;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-weight: lighter;
}

.nav a:hover {
    background-color: rgb(50, 50, 50);
    color: gold;
}

.main-nav {
    text-align: center;
}